*{
   background-color: antiquewhite; 
}
name{
    margin:50%;
    padding:0px;
    font-size:30px;
    color:green;
}
Contacts{
    margin:50%;
    padding:0px;
    font-size:30px;
    color:green;
}